@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Open+Sans:ital,wght@0,300;1,300&display=swap');

/* 
nova cut 
*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&family=Hurricane&family=Krona+One&family=Montserrat&family=Nova+Cut&family=Open+Sans:ital,wght@0,300;1,300&family=Raleway:wght@100&display=swap');

/* alegreya */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Hurricane&family=Krona+One&family=Montserrat&family=Nova+Cut&family=Open+Sans:ital,wght@0,300;1,300&family=Raleway:wght@100&display=swap');

/* playfair */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Hurricane&family=Krona+One&family=Montserrat&family=Nova+Cut&family=Open+Sans:ital,wght@0,300;1,300&family=Playfair+Display&family=Raleway:wght@100&display=swap');

/* krona one */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Hurricane&family=Krona+One&family=Montserrat&family=Nova+Cut&family=Open+Sans:ital,wght@0,300;1,300&family=Playfair+Display&family=Raleway:wght@100&display=swap');

/* merryweather */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Hurricane&family=Krona+One&family=Merriweather:wght@300&family=Montserrat&family=Nova+Cut&family=Open+Sans:ital,wght@0,300;1,300&family=Playfair+Display&family=Raleway:wght@100&display=swap');

:root {
    --cor-de-fundo: #000000;
    --cor-secundaria: #0c0a2e;
    --cor-terciaria: #2a0a0a;
    --cor-quarternaria: #e51c1c;
    --cor-dourada: #b0931b;
    --cor-fonteprincipal: #d0d0d0;
    --cor-botao: #d0d0d0;
    --cor-cinza: #717171;

    --fonte-principal: 'Nova Cut', cursive;
    --fonte-secundaria: 'Cormorant Garamond', serif;
    --fonte-alegreya: 'Alegreya', serif;
    --fonte-playfair: 'Playfair Display', serif;
    --fonte-kronaone: 'Krona One', sans-serif;
    --fonte-marryweather: 'Merriweather', serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-fonteprincipal);
}

.principal {
    /* é melhor usar background image quando a imagem for decorativa apenas  */
    background-image: url(assets/Design\ sem\ nome.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    /* este display grid e grid template columns serve para dividir a página web para organizar o site */
    display: grid;
    grid-template-columns: 52% 48%;
}

.container__botao {
    background-color: var(--cor-cinza);
    border-radius: 2px;
    padding: 1em;
    color: var(--cor-botao);
    /* padding acompanha o tamanho da fonte*/
    display: block;
    text-decoration: none;
    margin: 1em;
}

.container__botao__secundario {
    background-color: transparent;
    border-radius: 2px;
    color: var(--cor-botao);
    border: 1.5px solid var(--cor-fonteprincipal);
    display: block;
    text-decoration: none;
    padding: 1em;
    margin: 1em;
}

.container__caixa {
    /* alterar o tamanho da fonte do projeto */
    font-size: 1rem;
    font-family: var(--fonte-kronaone);
    margin: 1.6em;
    font-weight: 50;
}

.container__imagem {
    width: 350px;
    align-items: center;
    margin: 1.5em;
}

.secundario__imagem {
    width: 97%;
    max-width: 25rem;
}

.descricao__titulo {
    font-weight: 350;
    font-size: 1.7rem;
    color: var(--cor-fonteprincipal);
    margin-bottom: 0.1em;
    font-family: var(--fonte-kronaone);
}

.descricao__texto {
    font-weight: 250;
    font-size: 1rem;
    color: var(--cor-fonteprincipal);
    margin-bottom: 0.1em;
    font-family: var(--fonte-kronaone);
}

.container__aviso {
    color: var(--cor-fonteprincipal);
    font-size: 0.9rem;
    color: var(--cor-cinza)
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
    margin: 0.5em 0.1em 0.5em;
}

.secundario {
    margin: 0 10em;
    align-items: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    margin: 1.5em;
    font-family: var(--fonte-kronaone);
    list-style: none;
}

.dispositivos {
    font-size: 1rem;
    font-weight: 250;
    font-family: var(--fonte-kronaone);
    text-align: center;
}

.dispositivos__titulo {
    font-size: 1.8rem;
}

.lista__item {
    font-size: 1.5rem;
    color: #d0d0d0;
}

.secundario__botao {
    font-family: var(--fonte-kronaone);
    font-size: 0.75rem;
    margin: 1.6em;
    font-weight: 50;
}

.secundario__dimensionamento {
    border-radius: 15px;
    width: 30rem;
}